{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} - Market Order{% endblock head_title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <h5 class="mt-4 mb-4">Place a Market Order Here:</h5>
            <div class="container">
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn my-2" style="background-color: #FFFF00;" value="Confirm" >
                </form>
            </div>
        </div>  
    </div>
{% endblock content %}